.length {
border-bottom: 1px solid #5b5b5b;
border-top: 1px solid #5b5b5b;
padding: 1.5rem 0.2rem;
/* color:#5ea6ee ; */
}

.a1{
    color:#5ea6ee;
}

.a2{
    color:#5ea6ee;
}

.a3{
    color:#5ea6ee;
}